<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <h1 v-if="awesome">Vue is awesome!</h1>
    <input type="text" v-model="val" v-if="show">
  </div>
  <script>
    new Vue({
      el: '#app',
      data () {
        return {
          awesome: false,
          val: 'hello',
          show: false
        }
      },
      mounted () {
        setTimeout(() => {
          this.awesome = true
          this.show = true
        }, 2000)
      }
    })
  </script>

</body>
</html>